<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SharePics Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="aos.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="aos.js"></script>
	<script type="text/javascript">
		AOS.init({
            offset: 300,
			duration: 700,
		});
	</script>
    <script type="text/javascript">
        // $(document).ready(function(){
        //     $("#menu-icon").click(function(){
        //         $("#menu-icon").toggleClass("active")
        //     })

        //      $("#menu-icon").click(function(){
        //         $(".sidebar").toggleClass("active")
        //     })
        // })
        function toggleMenu(){
            document.getElementById("sidebar").classList.toggle('active');
            document.getElementById("toggle-btn").classList.toggle('active');
        }
    </script>
</head>
<body>

    <div id="sidebar" onclick="toggleMenu()">
        <div id="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <% if session[:userid] %>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/newpost">Add a new Post</a></li>
            <%else %>
            <li><a href="/users/index">Sign in/Register</a></li>
            
            <% end %>
           
            
        </ul>
    </div>
    
            <!-- <div id="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
            </div>
            
             <div class="sidebar">
                <ul class="menu">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/newpost">Add a new post</a></li>
                </ul>
            </div> -->
   
   

    <div class="greet"><h3>Hi there <%= @name%>!</h3>
        <% if @name == "Guest"%>
        <h3>Please sign in to upload posts and make comments.</h3>
        <%end%>
    </div>
   
    
    <div class="top-posts">
        <div class="container">
            <h1>Welcome to SharePics</h1>
        </div> 
        
        <h3>All Posts</h3>
        <% @posts.each do |i| %>

            <div class="single-post" data-aos="zoom-in">
                <h3><%= i.description %></h3>
                <img src=" <%= i.image.url(:large) %>" alt="picture here">
                <a href="/users/comment/<%= i.id %>"> <%= i.comments.length%> Comment(s)</a>
            </div>
            
               
        <% end %>
    </div>

    <div class="paginate">
        <%= will_paginate @posts, previous_label: "Older", next_label: "Newer" %>
    </div>
    
    
</body>
</html>